@charset "utf-8";
.HeadContainer {
  float: left;
  position: static;
  width: 100%;
  background-color: #3c6e8f;
}
.containerWrapper {
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 0px;
}
.leftContainer {
  grid-column: 1/2;
  grid-row: 1/3;
  box-sizing: border-box;
  border-style: solid;
  border-color: dimgray;
  color: white;
}
.rightContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  box-sizing: border-box;
  border-style: solid;
  border-color: dimgray;
  color: white;
}
.elementContainer {
  grid-column: 2/3;
  grid-row: 2;
  box-sizing: border-box;
  border-style: solid;
  border-color: dimgray;
  color: white;
}
