@charset "utf-8";
.HeadContainer {
	width: 100%;
	background-color: #227FBC;
	position: relative;
	margin: 0;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	z-index: 100;
	float: left;
}
.BackGround {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #2D2D2D;
}
.BottomContainer {
	width: 100%;
	z-index: 2;
	position: relative;
	color: #E3E3E3;
	float: left;
	font-size: 20px;
}
.Logo {
	float: left;

}
.Title {
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	float: left;
	color: #DAF3FF;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	font-size: 72px;
}
.SubTitle {
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	color: #DFF8FF;
	position: absolute;
	top: 80px;
	left: 148px;
	font-size: 35px;
}
